[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylandstats = {extras = ["geo"], version = "*"}
geopandas = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
